body{
  background-image: url("fondo.jpg");
  background-size: 2500px;
}

#contenedor{
  margin: 0px auto;
  padding: 0px;
  width: 1000px;
}

#barra{
  background-image: url("led.gif");
  background-size: 100% 100%;
  height: 100px;
  font-family:pricedown;
  font-size: 40px;
  color:#ff00ee;
  text-align: center;
  padding: 50px;
}

#cabeza{
  height: 220px;
  background-color: transparent;
  text-align: center;
  padding: 0px;
}

#astro{
  font-family: astronboy;
  color:red;
  text-align: center;
}


#intro{
  background-image: url("razer.png");
  margin: 0px auto;
  padding: 20px;
  height: 500px;
  box-sizing: border-box;
  font-family: astronboy;
  color:#1be52f;
  font-weight:bolder;


}

#juegos{
  background-color: #961287;
  margin:0px auto;
  padding: 20px;
  height: 1150px;
  box-sizing: border-box;
}
.flecha{
  text-align: center;
  font-family: iomanoid;
  color: yellow;
}

.row{
  overflow:auto;
  clear: both;
  margin:5px 0px;
}

.box{
  width: 200px;
  height: 300px;
  border: 1px solid cyan;
  box-sizing: border-box;
  margin: 10px;
  float: left;
}

.box:hover{
  cursor: pointer;
}

.box-active{
  border:2px solid red;
}


.box-resultado{
   width:640px;
   height:240px;
   border:1px solid black;
   box-sizing:border-box;
   margin:0px 10px;
   display: none;
   padding: 10px;
   background-color: orange;
 }

 #titulo{
   color: green;
   font-weight: bold;
   padding: 3px;
 }

 #precio{
   color: blue;
   font-style:italic;
   font-weight: bold;
 }

 #marca{
   color:red;
   padding: 3px;
 }

 #plat{
   color: white;
   padding: 3px;
 }



  #footer{
    background-color: black;
    height: 105px;
    text-align: center;
  }
